<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400&display=swap" rel="stylesheet">
*{
    margin: 0px;
    padding: 0px;
}
nav {
    height: 50px;
    background-color: black;
    color: white;
}
ul li{
    text-decoration: none;
}
.green{
    display: inline-block;
    height: 1130px;
    width: 50%;
    background-color: green;
}
.red{
    display: inline-block;
    height: 1130px;
    width: 50%;
    background-color: red;
}
footer{
    background-color: gray;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: capitalize;
    
}